<!doctype html>
<html lang="en">
<head> 

  <title>I migliori panini del Mc</title>
  <link rel="stylesheet" href="../static/css/1pagina.css" />


</head>

<body> 
   <div class="intestazione">

      <img src="static/images/cuoco.jpg">

      <h1> Recensioni panini online </h1>
       
    </div>
     
   <div class="parte_centrale">
     <img src="../static/images/immagini_panini_centrale.jpg">

      <div class="vertical-menu">
        <a href="/panini">I migliori panini</a>
      </div>
    <h1> Recensioni panini online </h1>
    <p>I migliori panini in circolazione</p>

   </div>

</body>
  </html>