body {
    text-align: center;
  }
  
  .container {
    margin: 0 auto;
    max-width: 600px; /* Regola opzionale per limitare la larghezza del contenitore */
    margin-top: 50px;
    font-weight: bold;
  }

  
  